{% extends 'base.html.twig' %}

{% block title %}{% if animal.isAdopted %} {{ animal.espece.nom }} - {{ animal.nom }} {% else %} Adoptez {{ animal.nom }}{% endif %}{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="card border-0 rounded-0 my-3 py-3 px-4 bg-greenlight">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb p-0 m-0">
                <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Acceuil</a></li>
                <li class="breadcrumb-item"><a href="{{ path('adoption') }}">Adoption</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ animal.nom }}</li>
            </ol>
        </nav>
    </div>
    <div class="card border-0 rounded-0 my-3">
        <div class="card-header bg-greenlight border-0"><h1 class="text-center">Je vous présente {{ animal.nom }}</h1>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col my-3">
            <div class="card border-0 rounded-0 h-100">
                <img src="{{ asset('uploads/images/animals/' ~ animal.photo) }}" class="card-img-top"
                     alt="{{ animal.race }}">
                <div class="card-body border-0">
                    <h2 class="text-center">{{ animal.age }} ans | {{ animal.poids }} kg | {{ animal.espece.nom }}
                        | {{ animal.race }}</h2>
                    <p class="text-center">{{ animal.description }}</p>
                </div>
            </div>
        </div>
        <div class="col my-3">
            <div class="card border-0 rounded-0">
                {% if animal.isAdopted %}
                    <div class="card-body">
                        <h2 class="text-center p-5 w-100">Ce petit bout de chou a enfin trouvé maître à son pied ! </h2>
                    </div>
                {% else %}
                    <div class="card-header border-0 bg-greenlight">
                        <h2 class="text-center">Vous souhaitez l'adopter ?</h2>
                    </div>
                    {% if app.user %}
                        <div class="card-body p-0  align-middle">
                            {{ form_start(form) }}
                            {{ form_end(form) }}
                        </div>
                    {% else %}
                        <a class="block p-5 my-auto text-center" href="{{ path('login') }}">Connectez-vous pour adopter ! </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
