{% extends 'base.html.twig' %}

{% block title %}Adoptez un animal ! {% endblock %}

{% block body %}

    <h1>Anim Family </h1>
    <div class="row">
    {% for animal in animals %}
        <div class="col-xs-4">
            <div class="card" style="width: 18rem;opacity:{% if animal.isAdopted %}0.5 {% else %}1 {% endif %}">
                <img src="{{ asset('uploads/images/animals/' ~ animal.photo)}}" class="card-img-top"  alt="{{ animal.race }}"/>
                <div class="card-body">
                    <h5 class="card-title">{{ animal.nom }}</h5>

                    <ul>
                        <li><b>Espèce :</b> {{ animal.espece.nom }}</li>
                        <li><b>Race : </b> {{ animal.race }}</li>
                        <li><b>Age : </b> {{ animal.age }}</li>
                        <li>{% if animal.isAdopted %} Il a trouvé une famille ! - Adopté le  {{ animal.dateAdoption|date('d/m/Y') }}
                            {% else %} Il n'a pas encore de maître
                            {% endif %}</li>
                    </ul>
                    <p class="card-text">

                    {{ animal.description }}
                    </p>
                    <button><a href="{{ path('adoption_animal_description', { 'id' : animal.id}) }}" class="">En savoir davantage</a></button>
                </div>
            </div>
        </div>
    {% endfor %}
        {{ knp_pagination_render(animals) }}

    </div>


    <h1>Les derniers animaux adoptés</h1>
    {% for animal in animalAdopted %}
        <div class="col-xs-4">
            <div class="card" style="width: 18rem;opacity:{% if animal.isAdopted %}0.5 {% else %}1 {% endif %}">
                <img src="{{ asset('uploads/images/animals/' ~ animal.photo)}}" class="card-img-top"  alt="{{ animal.race }}"/>
                <div class="card-body">
                    <h5 class="card-title">{{ animal.nom }}</h5>
                    <ul>
                        <li><b>Espèce :</b> {{ animal.espece.nom }}</li>
                        <li><b>Race : </b> {{ animal.race }}</li>
                        <li><b>Age : </b> {{ animal.age }}</li>
                        <li>{% if animal.isAdopted %} Il a trouvé une famille !- Adopté le  {{ animal.dateAdoption|date('d/m/Y') }}{% endif %}</li>
                    </ul>
                    <p class="card-text">

                        {{ animal.description }}
                    </p>
                    <button><a href="{{ path('adoption_animal_description', { 'id' : animal.id}) }}" class="">En savoir davantage</a></button>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
