{% extends 'base.html.twig' %}

{% block title %}Faites un don ! | Animwoof{% endblock %}

{% block body %}
    <div class="card border-0 rounded-0 my-3 py-3 px-4 bg-greenlight">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb p-0 m-0">
                <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
                <li class="breadcrumb-item"><a href="{{ path('don') }}">Faites un don</a></li>
                <li class="breadcrumb-item active" aria-current="page">Confirmation Don #{{ don.id }}</li>
            </ol>
        </nav>
    </div>
    <div class="card bg-greenlight border-0 shadow-lg rounded-0 p-5 m-5" role="alert">
        <h2 class="p-5 m-5 text-center">Merci {% if not don.isAnonymous %} {{ don.user.pseudo }}{% endif %} pour votre don de {{ don.montant| number_format(2, ',') }} €</h2>
        <a class="text-end d-inline" href="{{ path('don') }}">Faire un autre don</a>
    </div>

{% endblock %}
