{% extends 'base.html.twig' %}

{% block title %}Faites un don ! | Animwoof{% endblock %}

{% block body %}
    <div class="card bg-dark text-center text-uppercase rounded-0 text-white my-3">
        <h1>Faire une don</h1>
    </div>

    <div class="row text-center my-3">
        <div class="col ">
            <div class="card rounded-0 h-100 p-5">
                Total des dons
            </div>
        </div>

        {% if app.user %}
            <div class="col">
                <div class="card rounded-0 h-100 p-5">Somme Total des dons</div>
            </div>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col">
                <div class="card rounded-0 h-100 p-5">
                    <div class="col"><a href="{{ path('admin_donation') }}">Tous les dons</a></div>
                </div>
            </div>
        {% endif %}
    </div>



    {% if not app.user %}
        <div class="card border-0 my-3 text-center p-5">
            <h3><a href="{{ path('login') }}">Connectez-vous</a> ou <a href="{{ path('signup') }}">inscrivez vous</a> pour faire un don</h3>
        </div>

    {% else %}
        <div class="row">
            <div class="col">
                <div class="card rounded-0">
                    <div class="card-header text-center">
                        <h2 class="card-title">Liste de tous vos dons</h2>
                    </div>
                    <div class="card-body">
                        <div class="row text-center border py-2">
                            <div class="col p-0 m-0"><h6 class="p-0 m-0">{{ userDons.listTotal }}</h6></div>
                            <div class="col p-0 m-0"><h6 class="p-0 m-0">|</h6></div>
                            <div class="col p-0 m-0"><h6 class="p-0 m-0">{{ userDons.listSum | number_format(2, ',') }} €</h6></div>
                        </div>

                        list de tous vos dons
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card rounded-0">
                    <div class="card-header text-center">
                        <h2 class="card-title">Faites un don</h2>
                    </div>
                    <div class="card-body">
                        {{ form_start(donnateForm) }}
                        {{ form_end(donnateForm) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
