{% extends 'base.html.twig' %}

{% block title %}Back-office : Blog{% endblock %}

{% block body %}
    <div class="card border-0 rounded-0 my-3 py-3 px-4 bg-greenlight">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb p-0 m-0">
                <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gestion du blog</li>
            </ol>
        </nav>
    </div>
    <h1>Blog</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


        <!-- Articles -->
        <h2>Liste des articles</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Crée le</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.titre }}</td>
                    <td>{{ article.createdAt|date('d/m/Y') }}</td>
                    <td><a href="{{ path('admin_blog_edit', {'id' : article.id}) }}">Modifier</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>



    <h2>Ajouter un article</h2>

    {{ form_start(formArticle) }}

    {{ form_end(formArticle) }}

    <h2>Liste des catégories</h2>
    <ul>
        {% for categorie in categories %}
            <li>{{ categorie.nom }}</li>
        {% endfor %}
    </ul>
    <h2>Ajouter une catégorie</h2>
    {{ form_start(formCategorie) }}
    {{ form_end(formCategorie) }}

{% endblock %}
