{% extends 'base.html.twig' %}

{% block title %}Back-office : Blog{% endblock %}

{% block body %}
    <div class="card border-0 rounded-0 my-3 py-3 px-4 bg-greenlight">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb p-0 m-0">
                <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gestion du blog</li>
            </ol>
        </nav>
    </div>
    <div class="card my-3 p-5 rounded-0">
        <h1 class="text-title text-center">Gestion du blog</h1>
    </div>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="row row-cols-1 row-cols-md-2">
        <div class="col my-3">
            <div class="card border-0 rounded-0">
                <div class="card-header border-0 bg-greenlight text-center">
                    <h2>Ajouter un article</h2>
                </div>
                <div class="card-body p-0">
                    {{ form_start(formArticle) }}
                    {{ form_end(formArticle) }}
                </div>
            </div>
        </div>
        <div class="col my-3">
            <div class="card border-0 rounded-0">
                <div class="card-header border-0 bg-greenlight text-center">
                    <h2>Liste des articles</h2>
                </div>
                <div class="card-body p-0">
                    <table>
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Crée le</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for article in articles %}
                            <tr>
                                <td>{{ article.id }}</td>
                                <td>{{ article.titre }}</td>
                                <td>{{ article.createdAt|date('d/m/Y') }}</td>
                                <td><a href="{{ path('admin_blog_edit', {'id' : article.id}) }}"><i class="fas fa-pen"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col my-3">
            <div class="card border-0 rounded-0 h-100">
                <div class="card-header border-0 bg-greenlight text-center">
                    <h2>Ajouter une catégorie</h2>
                </div>
                <div class="card-body p-0">
                    {{ form_start(formCategorie) }}
                    {{ form_end(formCategorie) }}
                </div>
            </div>
        </div>
        <div class="col my-3">
            <div class="card border-0 rounded-0 h-100">
                <div class="card-header border-0 bg-greenlight text-center">
                    <h2>Liste des catégories</h2>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        {% for categorie in categories %}
                            <li class="list-group-item">{{ categorie.nom }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
