{% extends 'admin/layout.html.twig' %}

{% block title %}Back-office : Article{% endblock %}

{% block body %}
    <div class="card border-0 rounded-0 my-3 py-3 px-4 bg-greenlight">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb p-0 m-0">
                <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">Admin</a></li>
                <li class="breadcrumb-item"><a href="{{ path('admin_blog') }}">Gestion du blog</a></li>
                <li class="breadcrumb-item active" aria-current="page">Article #{{ article.id }}</li>
            </ol>
        </nav>
    </div>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <ul>
        <li><b>Titre:</b> {{ article.titre }}</li>
        <li><b>Crée le</b> {{ article.createdAt|date('d/m/Y') }}</li>
        <li>
            <b>Catégorie(s)</b> :
            <ul>
                {% for categorie in article.categorie %}
                    <li>
                        {{ categorie.nom}}
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li><b>Contenu :</b> {{ article.contenu}}</li>

    </ul>
    <button class=""><a href="{{ path('admin_blog_delete', {'id' : article.id }) }}"> <i class="fas fa-trash-alt"></i> Supprimer l'article</a></button>


    {{ form_start(form) }}

    {{ form_row(form.ajouter, {'label' : 'Modifier'}) }}
    {{ form_end(form) }}

{% endblock %}
