{% extends 'admin/layout.html.twig' %}

{% block title %}Back-office : Article{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <ul>
        <li><b>Titre:</b> {{ article.titre }}</li>
        <li><b>Crée le</b> {{ article.createdAt|date('d/m/Y') }}</li>
        <li>
            <b>Catégorie(s)</b> :
            <ul>
                {% for categorie in article.categorie %}
                    <li>
                        {{ categorie.nom}}
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li><b>Contenu :</b> {{ article.contenu}}</li>

    </ul>
    <button class=""><a href="{{ path('admin_blog_delete', {'id' : article.id }) }}"> <i class="fas fa-trash-alt"></i> Supprimer l'article</a></button>


    {{ form_start(form) }}

    {{ form_row(form.ajouter, {'label' : 'Modifier'}) }}
    {{ form_end(form) }}

{% endblock %}
