{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="card border-0 rounded-0 my-3">
        <div class="card-header bg-greenlight border-0">
            <h2 class="text-center">Adoptez des animaux</h2>
        </div>
        <div class="card-body p-0">
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
                {% for animal in animals %}
                    <div class="col my-3">
                        <div class="card h-100" style="opacity:{% if animal.isAdopted %}0.5 {% else %}1 {% endif %}">
                            <img src="{{ asset('uploads/images/animals/' ~ animal.photo) }}" class="card-img-top"
                                 alt="{{ animal.nom }}">
                            <div class="card-body">
                                <h4 class="card-title text-center fs-3">{{ animal.nom }}</h4>
                                <p class="card-text text-center">{{ animal.age }} ans | {{ animal.espece.nom }}
                                    | {{ animal.race }}</p>
                                <p class="card-text text-center">{% if animal.isAdopted %} Il a trouvé une famille ! le  {{ animal.dateAdoption|date('d/m/Y') }}
                                    {% else %} Il n'a pas encore de famille
                                    {% endif %}</p>
                            </div>
                            <div class="card-footer text-center p-0 ">
                                <a href="{{ path('adoption_animal_description', { 'id' : animal.id}) }}"
                                   class="text-white fs-5 bg-dark rounded-0 border-0 text-center d-block p-4 w-100">
                                    En savoir davantage
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="card border-0 rounded-0 my-3">
        <div class="card-header bg-greenlight border-0">
            <h2 class="text-center">Procurez-vous ces articles</h2>
        </div>
        <div class="card-body p-0">
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
                {% for produit in produits %}
                    <div class="col my-3">
                        <div class="card h-100">
                            <img src="{{ asset('uploads/images/products/' ~ produit.image) }}" class="card-img-top"
                                 alt="{{ produit.name }}">
                            <div class="card-body">
                                <h4 class="card-title text-center fs-3">{{ produit.name }}</h4>
                                <p class="card-text text-center">{{ produit.price }}&euro; | {{ produit.categorie.name }}</p>
                            </div>
                            <div class="card-footer text-center p-0 border-0">
                                <div class="row g-0">
                                    <div class="col">
                                        <a href="{{ path('boutique_produit_description', { 'id' : produit.id}) }}" class="text-white fs-5 bg-dark rounded-0 text-center d-block p-4 w-100">
                                            En voir plus
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="{{ path('panier_add', { 'id' : produit.id}) }}" class="fs-5 bg-greenlight border-0 rounded-0 text-center d-block p-4 w-100">
                                            Ajouter au panier
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col my-3">
            <div class="card rounded-0 h-100 border-0">
                <div class="card-header bg-greenlight border-0">
                    <h2 class="text-center">Dernier news</h2>
                </div>
            </div>
        </div>
        <div class="col my-3">
            <div class="card border-0 rounded-0 h-100">
                <div class="card-header bg-greenlight border-0">
                    <h2 class="text-center">Faites un don</h2>
                </div>
                <div class="card-body p-0 bg-transparent">
                    {% if not app.user %}
                        <h3 class="d-block w-100 py-5 text-center"><a href="{{ path('login') }}">Connectez-vous</a> ou
                            <a href="{{ path('signup') }}">inscrivez vous</a>
                            pour faire un don</h3>
                    {% else %}
                        {{ form_start(donateForm) }}
                        {{ form_end(donateForm) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
