<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
        {% endblock %}

    </head>
    <body id="app">

    <div class="wrapper">
        <header>
            <h1>Animwoof</h1>
            <nav>
                <ul>
                    <li><a href="{{ path('homepage') }}">Accueil</a></li>
                    <li><a href="{{ path('adoption') }}">Adoption</a></li>
                    <li><a href="#">Boutique</a></li>
                    <li><a href="#">Donation</a></li>
                    <li><a href="#">Blog</a></li>
                    {% if is_granted('ROLE_ADMIN') %}<li><a href="{{ path('admin_dashboard') }}">Back-office</a></li>{% endif %}
                </ul>
            </nav>
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('logout') }}">Logout</a>
                </div>
            {% else %}
                <a href="{{ path('login') }}">Log in</a>
                <a href="{{ path('signup') }}">Sign up</a>
            {% endif %}
        </header>

        <div class="content">
            {% block body %}{% endblock %}
        </div>

        <footer>

        </footer>
    </div>

    </body>
</html>


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}