{% extends 'admin/layout.html.twig' %}

{% block title %}Back-office : Donation{% endblock %}

{% block body %}

    <table>
        <theader>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Montant</th>
                <th scope="col">Date</th>
                <th scope="col">Donnateur</th>
                <th scope="col">Action</th>
            </tr>
        </theader>
        <tbody>
        {% for don in dons.list %}
            <tr>
                <td>Don {{ don.id }}</td>
                <td>{{ don.montant | number_format(2, ',') }} €</td>
                <td>{{ don.dateTransaction | date('d/m/y') }}</td>
                <td>{% if don.isAnonymous %} Anonyme {% else %}{{ don.user.pseudo }} {% endif %}</td>
                <td><a href="{{ path('admin_single_don', {'id' : don.id}) }}"><i class="fas fa-eye"></i></a></td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}
