{% extends 'admin/layout.html.twig' %}

{% block title %}Back-office : Animaux{% endblock %}

{% block body %}
<h1>Animaux</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% if animals is not null %}
    <!-- Animaux adoptés -->
    <h2>Liste des animaux adoptés</h2>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Espèce</th>
            <th>Age</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for adopted in animalsAdopted %}
        <tr>
            <td>{{ adopted.id }}</td>
            <td>{{ adopted.nom }}</td>
            <td>{{ adopted.espece }}</td>
            <td>{{ adopted.age }}</td>
            <td><a href="{{ path('admin_animals_edit', {'id' : adopted.id }) }}">Modifier</a></td>
        </tr>
        {% endfor %}
        {{ knp_pagination_render(animalsAdopted) }}
        </tbody>
    </table>
    <!-- Animaux non adoptés -->
    <h2>Liste des animaux non adoptés</h2>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Espèce</th>
            <th>Age</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for notAdopted in animalsNotAdopted %}
            <tr>
                <td>{{ notAdopted.id }}</td>
                <td>{{ notAdopted.nom }}</td>
                <td>{{ notAdopted.espece }}</td>
                <td>{{ notAdopted.age }}</td>
                <td><a href="{{ path('admin_animals_edit', {'id' : notAdopted.id }) }}">Modifier</a></td>
            </tr>
        {% endfor %}
        {{ knp_pagination_render(animalsNotAdopted) }}
        </tbody>
    </table>
    {% endif %}


    <h2>Ajouter un animal</h2>

    {{ form_start(formAnimal) }}

    {{ form_end(formAnimal) }}

    <h2>Ajouter une espèce</h2>
    {{ form_start(formEspece) }}
    <div>
        <div>
            {{ form_row(formEspece.nom) }}
        </div>
    </div>

    {{ form_end(formEspece) }}

{% endblock %}
