{% extends 'admin/layout.html.twig' %}

{% block title %}Back-office : {{ produit.name }}{% endblock %}

{% block body %}
    <div class="card border-0 rounded-0 my-3 py-3 px-4 bg-greenlight">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb p-0 m-0">
                <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">Admin</a></li>
                <li class="breadcrumb-item"><a href="{{ path('admin_shop') }}">Gestion de la bouique</a></li>
                <li class="breadcrumb-item active" aria-current="page">Produit #{{ produit.id }}</li>
            </ol>
        </nav>
    </div>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="card my-3 p-5 text-center rounded-0">
        <h1>Gestion du produit #{{ produit.id }}</h1>
    </div>
    {# info produit #}
    <div class="card rounded-0 my-3">
        <div class="row g-0">
            <div class="col-md-6 col-lg-4">
                <img src="{{ asset('uploads/images/products/' ~ produit.image) }}" class="img-fluid rounded-0"
                     alt="{{ produit.name }}">
            </div>
            <div class="col-md-6 col-lg-8">
                <div class="card-body">
                    <p class="card-text">Nom : <span class="fw-bold">{{ produit.name }}</span></p>
                    <p class="card-text">Prix : <span class="fw-bold">{{ produit.price }} &euro;</span></p>
                    <p class="card-text">Catégorie : <span class="fw-bold">{{ produit.categorie.name }}</span></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <p class="card-text">Description :</p>
                    <div class="border w-100 px-3 py-4">
                        <p class="card-text">{{ produit.description }} </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card-body">
                    <p class="card-text">Stock restant : <span class="fw-bold">{{ produit.quantity }}</span></p>
                    <p class="card-text">En vente depuis le : <span
                                class="fw-bold">{{ produit.createdAt|date('d/m/Y') }}</span></p>
                </div>
            </div>
        </div>
        {# <button class=""><a href="{{ path('admin_produit_delete', {'id' : produit.id }) }}"> <i class="fas fa-trash-alt"></i> Enlever de la vente</a></button> #}
    </div>
    <div class="row row-cols-1 row-cols-md-2 my-3">
        {# formualire edition formualire #}
        <div class="col my-3">
            <div class="card rounded-0 h-100">
                <div class="card-header">
                    <h2>Modifier le produit</h2>
                </div>
                <div class="card-body p-0">
                    {{ form_start(form) }}
                    {{ form_row(form.ajouter, {'label' : 'Sauvegarder les modification'}) }}
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
        {# ventes liés au produit #}
        <div class="col my-3">
            <div class="card rounded-0 h-100">
                <div class="card-header">
                    <h2>Historique de Vente du produit #{{ produit.id }}</h2>
                </div>
                <div class="card-body text-center p-5">
                    <p>liste des commandes liés au produit #{{ produit.id }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
