{% extends 'admin/layout.html.twig' %}

{% block title %}Back-office : Boutique/categorie{% endblock %}

{% block body %}
    <div class="card border-0 rounded-0 my-3 py-3 px-4 bg-greenlight">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb p-0 m-0">
                <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">Admin</a></li>
                <li class="breadcrumb-item"><a href="{{ path('admin_shop') }}">Gestion de la bouique</a></li>
                <li class="breadcrumb-item active" aria-current="page">Catégorie #{{ categorie.id }}</li>
            </ol>
        </nav>
    </div>
    <div class="card my-3 p-5 text-center rounded-0">
        <h1>Gestion de la catégorie #{{ categorie.id }}</h1>
    </div>

    <div class="card my-3 rounded-0">
        <div class="row g-0">
            <div class="col-md-6 col-lg-4">
                <img src="{{ asset('uploads/images/categorie/' ~ categorie.photo) }}" class="img-fluid rounded-0" alt="{{ categorie.name }}">
            </div>
            <div class="col-md-6 col-lg-8">
                <div class="card-body">
                    <p class="card-text">Nom : <span class="fw-bold">{{ categorie.name }}</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col my-3">
            <div class="card h-100 rounded-0">
                <div class="card-header">
                    <h2>Modification de la catégorie</h2>
                </div>
                <div class="card-body p-0">
                    {{ form_start(formEditCategorie) }}
                    <div class="d-flex flex-row">
                        {{ form_row(formEditCategorie.ajouter, {'label' : 'Sauvergarder les modifications'}) }}
                        <button class="btn text-dark border-0 px-5 rounded-0 bg-danger ">
                            <a class="text-white" href="{{ path('admin_categorie_delete', {'id' : categorie.id }) }}">
                                <i class="fas fa-trash-alt"></i> Supprimer la catégorie</a>
                        </button>
                    </div>
{#                    {{ form_row(formEditCategorie.ajouter, {'label' : 'Sauvergarder les modifications'}) }}#}
                    {{ form_end(formEditCategorie) }}
                </div>
{#                <button class="btn-danger"><a href="{{ path('admin_categorie_delete', {'id' : categorie.id }) }}"> <i class="fas fa-trash-alt fa-sm"></i>  ?</a></button>#}
            </div>
        </div>
        <div class="col my-3">
            <div class="card h-100 rounded-0">
                <div class="card-header">
                    <h2>Articles liés à la catégorie</h2>
                </div>
                <div class="card-body p-5">
                    <p class="text-center">Liste d'articles lié à la catégorie</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
